* {
    box-sizing: border-box !important;
}
:root {
    --bg-desktop: #3b82f6;
    --shadow: #2564eb7f;
    --bg-mobile: #fafafa;
    --link-color: #3b82f6;
    --text-color: #27272a;
    --secondary-text-color: #52525b;
}
body {
    background-color: var(--bg-mobile);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    & footer {
        text-align: center;
        background-color: var(--bg-mobile);
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > section {
        width: 100vw;
        max-width: 1024px;
        padding: 3rem 2rem;
        background-color: var(--bg-mobile);
        & p {
            color: var(--text-color);
            font-size: .9em;
        }
        & ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            > li {
                margin-top: 2em;
                position: relative;
                color: var(--secondary-text-color);
                /* will-change: transform, opacity, filter; */
                display: block;
                border-radius: 8px;
                padding: 1.5rem 1.2rem;
                /* box-shadow: var(--shadow) 0px 3px 6px, var(--shadow) 0px 3px 6px; */
                box-shadow: #2925247f 0px 4px 6px -1px, #44403c9d 0px 2px 4px -1px;;
                flex: 1 0 300px;
                font-size: .8em;
                transition: all 1s;
                > h2{
                    font-size: 1.5em;
                    margin-bottom: .5em;
                    color: var(--bg-desktop);
                }
            }
        }
    }
}

.title {
    font-size: 2em;
    animation: typing .7s .6s steps(6), blink .5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 5ch;
    color: var(--text-color) !important;
}

.hidden {
    transform: translateY(3px);
    filter: blur(2px);
    opacity: 0;
}


.project-link-button {
    display: block;
    border: 2px solid var(--link-color);
    width: 100px;
    text-align: center;
    padding: .5rem .8rem;
    margin-top: 1rem;
    border-radius: 8px;
    font-weight: bold;
    transition: all 300ms;
}

.project-link-button:hover {
    border-color: #93c5fd;
}

.presentation-card {
    max-width: 600px;
    transition: all 1s;
    padding: 2rem;
}


ul[id="contact"] {
    transition: all 1s;
    margin: 0;
    padding: 1rem 0;
    & li {
        display: inline-block;
        margin: 0 .7em;
        will-change: transform, opacity, filter;
    }
}

.contact-icon {
    fill: var(--link-color);
    width: 1.5rem;
}


ul:nth-last-of-type(2)>li {
    margin: 0 1rem;
    display: inline-block;
}


@media(min-width:768px) {
    body, footer {
        background-color: var(--bg-desktop) !important;
    }

    .presentation-card {
        margin: 1rem auto;
        padding: 0;
    }

    .title {
        animation: typing .7s 0s steps(6), blink .5s step-end infinite;
    }

    section {
        margin-top: 3vmin;
        border-radius: 1rem;
    }

    section ul li {
        margin-top: 3em;
        padding: 1rem;
        height: fit-content;
    }

    .contact-icon {
        width: 1.5em;
        fill: var(--bg-mobile);
    }
}


@media (prefers-reduced-motion) {
    .title {
        animation: none;
    }

    .portfolio-item, .presentation-card {
        transition: none;
    }
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
