---
import Default from "../layouts/default.astro";
---

<Default>
	<h1>Hi :)</h1>
	<h2>My name is Eitel Krauss. I'm a frontend engineer at <a href="https://eclipsoft.com" target="_blank">Eclipsoft</a></h2>
	<p>I know this site may not look pretty, but dont judge a book by it's cover! I'm actually really passionate about UX and interface design.</p>
	<p>Check out some projects I'm currently working on!</p>
	<ul>
		<li>
			<a href="https://onboarding.eclipsoft.dev" target="_blank">&gt; Onboarding with Nuxt</a>
			<p>This is a white-brand template app for companies that want to implement a web-based onboarding process</p>
		</li>
		<li>
			<a href="http://id4face.eclipsoft.com" target="_blank">&gt; Liveness in a Web Component</a>
			<p>Face recognition and passive liveness validation in a modal</p>
		</li>
	</ul>
</Default>
<style scoped>

	ul > li {
		margin: 2rem 0;
	}

	li > a {
		font-size: 1.5rem;
	}

	li > a:hover {
		color: cadetblue;
	}

</style>