---
import Default from "../layouts/default.astro";
---


<Default>
    <h1>Hi! 👋</h1>
    <p>My name is Eitel Krauss. I'm a web developer and currently frontend engineer at <a href="https://eclipsoft.com">Eclipsoft</a></p>
    <p>Check out some projects I've been working on recently...</p>
    <ul>
        <li><a href="https://onboarding.eclipsoft.dev"><h2>Onboarding App with Nuxt 3</h2></a>Template for companies to implement a customizable onboarding process</li>
        <li><a href="https://id4face.eclipsoft.com"><h2>Liveness in a Web Component</h2></a>Face recognition and passive liveness validation in a modal</li>
    </ul>
</Default>