---
import Default from "../layouts/default.astro";
import Avatar from '../components/Avatar.astro';
---

<Default>
    <div class="presentation-card hidden">
        <Avatar />
        <h1 class="title">Hi! 👋</h1>
        <p>
            My name is Eitel Krauss.<br>I'm a self-taught web developer with a strong design background.<br>I currently hold the position of frontend engineer at <a target="_blank"
                href="https://eclipsoft.com"><strong>Eclipsoft.</strong></a>
        </p>
        <p>
            Please take a moment to explore a selection of recent projects I've
            been actively engaged in, where my contributions spanned from
            product design and architectural planning to overseeing UX, full stack development and
            setting up continuous integration and delivery pipelines 👇
        </p>
    </div>
    <ul>
        <li class="portfolio-item hidden">
            <h2>MPA Onboarding Solution with Astro for DIRECTV</h2>
            <p>Onboarding website for LATAM media network DIRECTV developed with Astro in SSR mode.  A very lightweight and performant web client for Eclipsoft's onboarding service built with just HTML, Bootstrap CSS and some client side Javascript.</p>
            <a
                class="project-link-button"
                target="_blank"
                href="https://directv-onboarding.eclipsoft.dev?requestId=65d6215a3c0cc13cec15b80e">Link</a>
        </li>
        <li class="portfolio-item hidden">
            <h2>Youtickett</h2>
            <p>Events tickets reservations app built with Astro SSR and React components using the @astrojs/react integration.</p>
            <a
                class="project-link-button"
                target="_blank"
                href="https://youtickett.app/events/654e481ac0bbea397cbe51ad">Link</a>
        </li>
        <li class="portfolio-item hidden">
            <h2>Customizable Onboarding with Nuxt</h2>
            <p>This project features various views, workflows, forms, styles and
                content, all manageable through a CMS-style admin site.
                Nuxt 3 employs hybrid rendering, pre-rendering the landing page
                during build time and seamlessly transitioning to a client-side SPA
                essentially getting the best of both worlds.<br/>Clients include telecom giant CLARO.</p>
            <a
                class="project-link-button"
                target="_blank"
                href="https://onboarding.eclipsoft.dev">Link</a>
        </li>
        <li class="portfolio-item hidden">
            <h2>Liveness Validation Web Component</h2>
            <p>Powered by Lit,
                this versatile solution integrates a selfie camera with a MediaPipe
                model, detecting eye blinks, capturing images, and running identity
                verification through a backend service.<br />Beyond its core
                functionality, this project serves as a developer-friendly library
                and SDK, enabling other developers to seamlessly incorporate our (Eclipsoft)
                identity verification and liveness validation service into their
                applications.</p>
            <div class="links-container">
                <a
                class="project-link-button"
                target="_blank"
                href="https://id4face.eclipsoft.dev/demo">Demo</a>
            <a
                class="project-link-button"
                target="_blank"
                href="https://id4face.eclipsoft.dev/documentacion">Docs</a>
            </div>
        </li>
    </ul>
</Default>