---
import Default from "../layouts/default.astro";
---


<Default>
    <h1>Hi! 👋</h1>
    <p>My name is Eitel Krauss. I'm a web developer and visual designer.<br>Currently frontend engineer at <a href="https://eclipsoft.com">Eclipsoft</a></p>
    <p>Check out some projects I've been working on recently...</p>
    <ul>
        <li><a href="https://onboarding.eclipsoft.dev"><h2>Onboarding with Nuxt</h2></a>Customizable onboarding process using Nuxt 3</li>
        <li><a href="https://id4face.eclipsoft.com"><h2>Liveness Validation</h2></a>Face recognition and passive liveness validation in a Web Component built with Lit</li>
    </ul>
</Default>