<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/resume">resume</a></li>
        <li><a href="https://github.com/ekrausso" target="_blank">github</a></li>
        <li><a href="mailto:eitelkrauss@protonmail.com">contact</a></li>
    </ul>
</nav>

<style scoped>

    nav {
        position: sticky;
        top: 0;
        background-color: white;
    }

    ul {
        padding: 1.5rem 0.5rem;
        font-size: 1.2rem;
        font-family: sans-serif;
        font-weight: bold;
        margin: 0;
        
    }

    ul li {
        display: inline-block;
        margin: 0 .8rem;
    }
</style>
